table{
    border-collapse: collapse;
}
td{
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
td:hover{
    background-color: lightblue;
}
body{
    background-color:  #1e90ff;
}
.winner{
    background-color: green;
}